html {
  font-size: 10px;
}

button,
input,
body,
p {
  font-size: 1.6rem;
}

a {
  text-decoration: none;

  &:visited {
    color: black;
  }

  &:active {
    text-decoration: underline;
  }
}

.router-link-active {
  text-decoration: underline;
}
